{% extends 'base.html' %}

{% block content %}

    <h1><a href="{% url 'app_tracker:category' activity.category.id %}">{{activity.category}}</a> | Activity: <i>{{activity.name}}</i></h1>
    <ul>
        <li><a href="{% url "app_tracker:activity_edit" activity.id %}">Edit activity</a></li>
        <li><a href="{% url "app_tracker:activity_delete" activity.id %}">Delete activity</a></li>
    </ul>

    <h2>Details</h2>
    <ol>
        <li>Ustawić wyświetlanie wartości domyślnych przedzialu czasowego (lub nie wyswietalnie jezeli nie podano).</li>
        <li>Strona nie działa jeżeli nie ma zadeklarowanych żadnych godzin.</li>
        <li>Dodać przycisk resetu przedziału czasowego.</li>
        <li>Dostosować wielkość wykresu</li>
        <li><strike>Uzależnić kolor wykresu od wybranego koloru aktywności.</strike></li>
        <li>Dostosować wyświetlanie czasu - YYYY:MM:DD, HH:mm:ss (24h).</li>
        <li>Dopracować wygląd wykresu.</li>
    </ol>


    <p><b>Category:</b> {{activity.category}}</p>
    <p><b>Time summary:</b> {{activity.total_time}}</p>
    <p><b>Logs:</b></p>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="date">Date</label><input name="date" id="date" type="date"> |
        <label for="start_time">Start</label><input name="start_time" id="start_time" type="time"> |
        <label for="log_time">Time to log</label><input name="log_time" id="log_time" step="2" type="time"> |
        <input type="submit" value="Log time">
    </form>
    
    <ol>
        {% if all_activity_logs %}
            {% for log in all_activity_logs %}
                <li>{{log}} | {{log.start_time}} - <a href="{% url "app_tracker:timelog_edit" log.id %}">edit</a> | <a href="{% url "app_tracker:timelog_delete" log.id %}">delete</a></li>
            {% endfor %}
        {% endif %}
    </ol>
    
    {% comment %} Chart (date x time log) {% endcomment %}
    {% if all_activity_logs %}
        {{ activity_chart|safe }}
        <center>
            <h4>({{interval_start}} - {{interval_end}} )</h4>
        </center>
    {% endif %}


    <center>
        <form method="GET" action="{% url 'app_tracker:activity' activity.id %}">
            From {{chart_interval_form.interval_start}} to {{chart_interval_form.interval_end}}
            <input type="submit" value="Set time interval">
            <br><br>
        </form>
    </center>

{% endblock content %}