{% extends 'base.html' %}

{% block content %}

    <form method="POST" action="">
        {% csrf_token %}
        <label for="name">Name</label><input name="name" id="name" type="text" value="{{ category.name }}"><br>
        <label for="description">Description</label><input name="description" id="description" type="text" value="{{ category.description }}"><br>
        <br><br>
        <input type="submit" value="Save changes">
        <a href="{% url 'app_tracker:category' category.id %}">Cancel</a>
    </form>

{% endblock content %}