{% extends 'base_app.html' %}

{% block title %}| Delete category {{category.name}}{% endblock title %}


{% block navbar %}
<!-- Link tree -->
<a href="{% url 'app_tracker:tracker_home' %}" class="d-inline-flex nav-link text-align-middle my-auto me-1">
    | Activity tracker
</a>
<a href="{% url 'app_tracker:category' category.id %}" class="d-inline-flex nav-link text-align-middle my-auto me-1">
    | {{category.name}}
</a>
<!-- Recent page -->
<a href="" class="d-inline-flex align-items-center disabled"></a>
    <p class="text-align-middle my-auto me-1">| Delete</p>   
</a>

{% endblock navbar %}


{% block content %}
<div class="col-6 d-flex justify-content-center mt-3">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Are you sure?</h4>
        <p>With "delete" button you will remove permanently category <b>{{category.name}}</b> with all ({{all_related_activities.count}}) related activities!</p>
        <hr>
        {% if all_related_activities %}
            <ol>
            {% for activity in all_related_activities %}
                <li>{{activity}}</li>
            {% endfor %}
            </ol>
        {% endif %}
        <div class="d-inline-flex justify-content-end">
            <form method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete category">
                <a href="{% url 'app_tracker:category' category.id %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}