{% extends 'base_app.html' %}

{% block navbar %}

<a href="{% url 'project_home' %}" class="d-inline-flex align-items-center disabled"></a>
    <p class="text-align-middle my-auto me-1">| Activity tracker</p>   
</a>

{% endblock navbar %}


{% block content %}

<div class="col-lg-6 mx-auto p-1 py-md-4">

    {% if user.is_authenticated %}
    <!-- Logged in -->
    <div class="mb-3 text-center">
        <div class="col-md">
            <h4 class="display-6">Your categories</h4>
            {% if all_categories %}
                {% for category in all_categories %}
                    <a href="{% url 'app_tracker:category' category.id %}" class="btn btn-dark my-1" style="width: 250px">{{category.name}}</a><br>
                {% endfor %}
            {% endif %}

            <hr>
            <!-- Button - trigger modal -->
            <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create new
            </button>
            
            <!-- Modal - Create new category -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Create new category</h1>
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="modal-body col-10 align-self-center">
                                <div class="input-group input-group-sm flex-nowrap mb-2">
                                    <span class="input-group-text" id="addon-wrapping">Name</span>
                                    <input type="text" name="name" class="form-control" placeholder="e.g. running" aria-label="Name" aria-describedby="addon-wrapping">
                                </div>
                                <div class="input-group input-group-sm flex-nowrap mb-2">
                                    <span class="input-group-text" id="addon-wrapping">Description</span>
                                    <input type="text" name="description" class="form-control" placeholder="e.g. all running exercises" aria-label="Description" aria-describedby="addon-wrapping">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-success btn-sm" value="Save">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    <!-- Logged out -->
    <div>
        <!-- App details -->
        <div class="card">
            <h5 class="card-header text-center bg-dark text-white display-6"><svg class="bi me-2" width="45" height="45"><use xlink:href="#speedometer2"/></svg>Activity tracker</h5>
            <div class="card-body text-center">
            <p class="card-text">Activity tracker app allows you to track time spent on any activity you want. By auto-responsive charts you can analize your progress and assumptions during the process.</p>
            <div class="text-center">
                <a href="{% url 'users:login' %}?next={{request.path}}" class="btn btn-dark">Start now!</a>
            </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mt-4">
            <!-- Example section -->
            <div class="col-md">
                <div class=" h-100 p-3 text-bg-primary rounded-3">
                    <h5>Example of use</h5>
                    <hr>
                    <p>
                        Here you can see some real example of using the tracker app by me during my programming learning process.
                        <ul class="icon-list ps-0">
                            <li class="d-flex align-items-start mb-1"><a href="http://localhost:8000/tracker/category/1/" class="text-white">code</a></li>
                        </ul>
                    </p>
                </div>
            </div>
            <!-- Technology section -->
            <div class="col-md">
                <div class="h-100 p-3 bg-warning border rounded-3">
                    <h5>Used technology</h5>
                    <hr>
                    <ol>
                        <li>python 3.10.8</li>
                        <li>django 4.1.1</li>
                        <li>pandas 1.5.0</li>
                        <li>plotly 5.10.0</li>
                        <li>numpy 1.23.3</li>
                        <li>bootstrap 5.2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}