{% extends "base.html" %}


{% block content %}

    <h1>Tracker app</h1>

    <h2>What does it do?</h2>
    <p>Opis do czego służy appka</p>

    <h2>Technology</h2>
    <p>Opis wykorzystanych technologii</p>
    <ol>
        <li>django</li>
        <li>python</li>
        <li>pandas</li>
        <li>plotly</li>
        <li>numpy</li>
        <li>bootstrap</li>
    </ol>

    ________
    <p>Panel użytkownika do appki.</p>
    <ol>
        <li><strike>Utworzenie nowej kategorii.</strike></li>
        <li>Opcja logowania/wylogowania/rejestracji.</li>
        <li>Categorie widoczne tylko dla zalogowanego użytkownika.</li>
        <li>Brak możliwośći widoczności i edycji kategorii, aktywności i logów innych użytkowników.</li>
        <li>Przykładowa strona z bazą danych widoczna dla każdego (mogą być dane admina albo użytkownik testowy)</li>
    </ol>

    <h3>Your categories</h3>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name</label> <input name="name" id="name" type="text" placeholder="Category name"> |
        <label for="description">Start</label> <input name="description" id="description" type="text" placeholder="Category description"> |
        <input type="submit" value="Create new category!">
    </form>

    {% if all_categories %}
        <ol>
        {% for category in all_categories %}
            <li><a href="{% url 'app_tracker:category' category.id %}">{{category.name}}</a></li>
        {% endfor %}
        </ol>
    {% endif %}

{% endblock content %}
