{% extends 'base_project.html' %}


{% block title %}| Register{% endblock title%}

{% block navbar %}<a class="nav-link fw-bold py-1 px-0" href="{% url 'project_home' %}">Project handy</a>{% endblock navbar %}


{% block content %}

<h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
      </svg>
    <br>
    Register
</h1>
<form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}
    <label for="username" class="col-form-label">Username</label>
    <input id="username" name="username" id="username" class="form-control form-control-sm" type="username">
    <p class="form-text">{{ registration_form.username.help_text }}</p>
    
    <label for="password1" class="col-form-label">Password</label>
    <input id="password1" name="password1" id="username" class="form-control form-control-sm" type="password">
    <!-- <p class="form-text">{{ registration_form.password1.help_text.help_items }}</p> -->
    <span class="form-text text-start">{{ registration_form.password1.help_text }}</span>
    
    <label for="password2" class="col-form-label">Confirm password</label>
    <input id="password2" name="password2" id="username" class="form-control form-control-sm" type="password">
    <p class="form-text">{{ registration_form.password2.help_text }}</p>


    <input type="submit" value="Register" class="btn btn-success btn-sm me-2 mt-1">
    <a href="{% url 'project_home' %}" class="btn btn-secondary btn-sm mt-1">Cancel</a>
    <input type="hidden" name="next" value="{% url 'project_home' %}">
</form>

{% endblock content %}