{% extends 'base_app_weather.html' %}

{% block title %}| Weather forecast{% endblock title %}

{% block navbar %}

<a href="{% url 'project_home' %}" class="d-inline-flex align-items-center disabled">
    <p class="text-align-middle my-auto me-1">| Weather forecast</p>
</a>

{% endblock navbar %}


{% block content %}

<div class="col mx-auto py-md-4">
    <!--City search-->
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter city name" name="city"/>
        <button type="submit">Go</button>
    </form>
    <!-- Weather forecast -->
    <div class="card">
        <h3 class="card-header text-center bg-dark text-white">
            <svg class="bi" width="35" height="35"><use xlink:href="#bi-geo-alt"/></svg>
            {{country}}
        </h3>
        <!--5 days forecast-->
        <div class="card-body text-center">
            <div class="row align-items-md-stretch">
                <!--Today-->
                <div class="col-3 p-3 bg-primary">
                    <p class="lead">{{ today.datetime }}</p>
                    <hr>
                    {{ today.icon }}
                    <p class="lead">{{ today.conditions }}</p>
                    <h1 class="display-4">{{ today.temp }}°C</h1>
                    <p>{{ today.description }}</p>
                    <p><small>
                        max: {{ today.tempmax }}°C<br>
                        min: {{ today.tempmin }}°C<br>
                        clouds: {{ today.cloudcover }}%<br>
                        wind speed: {{ today.windspeed }} km/h<br>
                        humidity: {{ today.humidity }}%
                    </small></p>
                </div>
                <!-- next day -->
                {% for day in next_days %}
                <div class="col p-3 bg-dark border">
                    <p class="lead">{{ day.datetime }}</p>
                    <hr>
                    {{ day.icon }}
                    <p class="lead">{{ day.conditions }}</p>
                    <h1 class="display-6">{{ day.temp }}°C</h1>
                    <p><small>
                        max: {{ day.tempmax }}°C<br>
                        min: {{ day.tempmin }}°C
                    </small></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}