{% extends 'base_app_weather.html' %}

{% block title %}| Weather forecast{% endblock title %}

{% block navbar %}

<a href="{% url 'project_home' %}" class="d-inline-flex align-items-center disabled"></a>
    <p class="text-align-middle my-auto me-1">| Weather forecast</p>
</a>

{% endblock navbar %}


{% block content %}


<div class="col mx-auto py-md-4">

    <div>
        <!-- Weather forecast -->
        <div class="card">
            <h5 class="card-header text-center bg-dark text-white display-6">
                <svg class="bi" width="45" height="45"><use xlink:href="#bi-geo-alt"/></svg>
                {{name}} ({{country_code}})
            </h5>
            <!--7 days forecast-->
            <div class="card-body text-center">
                <p class="card-text">


                    <div class="row align-items-md-stretch">
                        <!--Today-->
                        <div class="col-3 p-3 bg-primary">
                            <h6>{{dt}}</h6>
                            <hr>
                            <p>
                                {{main}}<br>
                                <i>({{description}})</i><br><br>
                                {{temp}}°C<br>
                                (min: {{temp_min}}°C | max: {{temp_max}}°C)
                            </p>
                        </div>
                        <!-- 2nd day -->
                        <div class="col p-3 bg-dark border">
                            <h6>2nd day</h6>
                            <hr>
                            <p>
                                some statistics
                            </p>
                        </div>
                        <!-- 3rd day -->
                        <div class="col p-3 bg-dark border">
                            <h6>3rd day</h6>
                            <hr>
                            <p>
                                some statistics
                            </p>
                        </div>
                        <!-- 4th day -->
                        <div class="col p-3 bg-dark border">
                            <h6>4th day</h6>
                            <hr>
                            <p>
                                some statistics
                            </p>
                        </div>
                        <!-- 5th day -->
                        <div class="col p-3 bg-dark border">
                            <h6>5th day</h6>
                            <hr>
                            <p>
                                some statistics
                            </p>
                        </div>
                        <!-- 6th day -->
                        <div class="col p-3 bg-dark border">
                            <h6>6th day</h6>
                            <hr>
                            <p>
                                some statistics
                            </p>
                        </div>
                        <!-- 7th day -->
                        <div class="col p-3 bg-dark border">
                            <h6>7th day</h6>
                            <hr>
                            <p>
                                some statistics
                            </p>
                        </div>
                    </div>




                </p>
            </div>
        </div>
    </div>

</div>

{% endblock content %}